
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
    <title>Movies Box Office Gross Prediction</title>
   


</head>
<body>
    <h1 style="color:red;"class="title"><center>MOVIE BOX OFFICE GROSS PREDICTION</center></h1>
                    
                           <div class="p-t-30"><center>
                           <img src="../static/css/images (1).png" width="30%" height="30%">
                        
                        </center>  </div>
<h3 style="color:red;">ABOUT</h3>

<div class="row row-space">
                            <p>Predicting society's reaction to a new product in the sense of popularity and adoption rate has become an emerging field of data analysis,and such kind of analysis can help the movie industry to take appropriate decisions. 
Can film studios and their related stakeholders use a forecasting method to predict revenue that a new movie can generate based on a few given input attributes like budget,runtime,released year,popularity,and so on.</p>
                         <div class="p-t-30"><center>
                             <form action="/assesment">
                                <button style="color:blue;" type="submit">Click me to continue with prediction</button></center>
                             </form>
                         </div>
                      
<center>
<div class="footer">Movie Box Office Predictor</div></center>

</body>

</html>